.footer{
    background-color: #1a1831;
    /* border-top: 2px solid rgba(0, 0, 0, 0.4); */
    border-top-left-radius: 225px
}
.footer--container{
    padding: 2rem 0 6rem;
}
.footer--title,
.footer--link{
    color: #A9A9A9;
}
.footer--title{
    text-align: center;
    margin-bottom: var(--mb-2);
}
.footer--link{
    color: #808080;
}
.footer--list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}
.footer--socials{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer--social-link{
    background-color: #272447;
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: .5rem;
    /* display: inline-flex; */
}
.footer--social-link:hover{
    background-color: #302e44;
}
.footer--copy{
    display: block;
    margin-top: 4.5rem;
    color: #A9A9A9;
    text-align: center;
    font-size: var(--small-font-size);
}

@media screen and (max-width: 992px) {
    .footer--social-link{
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}